#fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/ba1.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#textosobrefondo {
    text-align: right;
    position: relative;
    width: 540px;
    height: auto;
    top: 42%;
    left: 48%;
}

#gradiente {
    background-image: linear-gradient(90deg, #1c3846, #1f5271);
    padding: 0px;
}
